.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero img {
  margin-top: 30px;
}
.hero h1 {
  font-size: 65px;
  font-weight: 600;
  text-align: center;
  width: 65%;
  line-height: 70px;
}
.hero h1 span {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  text-align: center;
  width: 50%;
  font-size: 18px;
  line-height: 30px;
}
.hero-action {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 25px;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 20px 30px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  cursor: pointer;
  border-radius: 50px;
}
.hero-resume {
  padding: 18px 55px;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #FFF;
}
.hero-connect:hover {
  border: 2px solid #FFF;
}
.hero-resume:hover {
  border-color: #B415FF;
}
@media(max-width: 768px) {
  .hero img {
    margin-top: 50px;
    width: 200px;
  }
  .hero h1 {
    margin-top: 0px;
    width: 90%;
    font-size: 35px;
  }
  .hero p {
    width: 80%;
    font-size: 16px;
    line-height: 25px;
    margin:5px 0;
  }
  .hero-action {
    gap: 10px;
    font-weight: 500px;
    margin-bottom: 50px;
  }
  .hero-connect {
    padding: 20px;
    border-radius: 40px;
    font-size: 14px;
  }
  .hero-resume {
    padding: 18px 30px;
    border-radius: 40px;
    font-size: 14px;
  }
}
