.footer {
  margin: 50px 10%;
  display: flex;
  flex-direction: column;
  gap: 25px
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-left {
  font-size: 16px;
  max-width: 40%;
}

.footer-top-right {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer-email-input {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 15px 15px 35px;
  border-radius: 50px;
  background: #32323B;
}
.footer-email-input:hover {
  border: 2px solid white;
}
.footer-email-input img {
  width: 22px;
}
.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: outfit;
  font-size: 18px;
}
.footer-subscribe {
  font-size: 16px;
  border-radius: 50px;
  padding: 18px 40px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.footer-bottom-right {
  display:flex;
  justify-content: space-around;
  gap: 35px;
  margin-bottom: 50px;
}
@media(max-width: 768px) {
  .footer {
    margin: 50px 6%;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  .footer-top-left {
    max-width: 80%;
  }
  .footer-email-input {
    font-size: 16px;
    padding: 12px 14px;
    max-width: 200px;
  }
  .footer-email-input img {
    display: none;
  }
  .footer-subscribe {
    font-size: 16px;
    padding: 14px 20px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 50px;
  }
  .footer-bottom-right {
    justify-content: start;
    gap: 20px;
    margin-bottom: 0;
  }
}
